<div class="cart-page">

    @if (cartService.getProdotti().length === 0) {
        <div class="empty-cart-container">
            <i class="pi pi-shopping-bag empty-icon"></i>
            <h1>{{ langService.traduci('CARRELLOVUOTO') }}</h1>
            <button class="torna-btn" (click)="tornaAlloShopping()">
                <i class="pi pi-arrow-left"></i> {{ langService.traduci('TORNA') }}
            </button>
        </div>
    } @else {
        <p><i class="pi pi-box"></i> {{ cartService.getProdotti().length }} {{ langService.traduci('ARTICOLI') }}</p>

        <div class="cart-items-container">
            @for (prodotto of cartService.getProdotti(); track prodotto.id) {
                <div class="product-row">
                    <img [src]="prodotto.imageUrl" [alt]="prodotto.name" class="product-img">

                    <span class="product-name">{{ nomeProdotto(prodotto) }}</span>

                    <span class="product-price">{{ prodotto.price | currency:'EUR':'symbol':'1.2-2' }}</span>

                    <div class="quantity-controls">
                        <button (click)="modificaQuantita(prodotto.id, prodotto.quantita - 1)" [disabled]="prodotto.quantita <= 1">
                            <i class="pi pi-minus"></i>
                        </button>
                        <span>{{ prodotto.quantita }}</span>
                        <button (click)="modificaQuantita(prodotto.id, prodotto.quantita + 1)"
                            [disabled]="prodotto.quantita >= prodotto.stockDisponibile">
                            <i class="pi pi-plus"></i>
                        </button>
                    </div>

                    <button class="elimina-btn" (click)="eliminaProdotto(prodotto.id)">
                        <i class="pi pi-trash"></i> {{ langService.traduci('ELIMINA') }}
                    </button>
                </div>
            }
        </div>

        <div class="cart-footer">
            <div class="total-box">
                <strong>{{ langService.traduci('TOTALE') }}: <span class="total-price">{{ cartService.getTotale() | currency:'EUR':'symbol':'1.2-2' }}</span></strong>
            </div>

            <div class="checkout-box">
                <button class="btn-checkout" (click)="vaiAlPagamento()">
                    <i class="pi pi-credit-card"></i> {{ langService.traduci('VAI_AL_PAGAMENTO') }}
                </button>
            </div>
        </div>
    }
    <app-modal-login
            *ngIf="mostraModale"
            (chiudi)="mostraModale = false">
    </app-modal-login>
</div>