.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

.box {
  max-width: 500px;
  padding: 20px;
}

h1 {
  font-size: 90px;
  margin: 0;
  color: #e11d48; //rosso (rjc)soft
}

h2 {
  font-size: 28px;
  margin: 10px 0;
}

p {
  opacity: 0.7;
  font-size: 16px;
}