<div class="home-page">

    <section class="benvenuto">
        <img [src]="bannerUrl" alt="ShopEasy Promo Banner">
    </section>

    <section class="offerte">
        <h2>{{ langService.traduci('OFFERTE') }}</h2>

        <div class="products-grid">
            <app-product-card
                    *ngFor="let prodotto of prodottiInEvidenza"
                    [product]="prodotto"
                    [isInWishlist]="wishlistService.isInWishlist(prodotto.id)"
                    (aggiungiAlCarrello)="aggiungiAlCarrello($event)"
                    (toggleWishlist)="toggleWishlist($event)"
                    (nonLoggato)="mostraModale = true"> </app-product-card>
        </div>
    </section>

    <section class="faq">
        <h2>{{ langService.traduci('FAQ') }}</h2>

        <div class="faq-list">

            <div class="faq-item">
                <h3>{{ langService.traduci('FAQ1_DOMANDA') }}</h3>
                <p>{{ langService.traduci('FAQ1_RISPOSTA') }}</p>
            </div>

            <div class="faq-item">
                <h3>{{ langService.traduci('FAQ2_DOMANDA') }}</h3>
                <p>{{ langService.traduci('FAQ2_RISPOSTA') }}</p>
            </div>

            <div class="faq-item">
                <h3>{{ langService.traduci('FAQ3_DOMANDA') }}</h3>
                <p>{{ langService.traduci('FAQ3_RISPOSTA') }}</p>
            </div>

            <div class="faq-item">
                <h3>{{ langService.traduci('FAQ4_DOMANDA') }}</h3>
                <p>{{ langService.traduci('FAQ4_RISPOSTA') }}</p>
            </div>

        </div>
    </section>

    <div class="snackbar" [class.active]="mostraSnackbar">
        <p>{{ langService.traduci('PRODOTTO_AGGINUNTO_AL_CARRELLO') }}</p>
    </div>


</div>

<app-modal-login
        *ngIf="mostraModale"
        (chiudi)="mostraModale = false">
</app-modal-login>