/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

// VARIABILI IN LIGHT MODE (Default)
:root {
  --primary-color: #1bcf8c;
  --secondary-color: #f0a500;

  --bg-dark: #dcd9d9;              // Grigio chiaro dello sfondo
  --bg-navbar: #3e3e3e;            // Colore scuro della navbar
  --bg-card: #ffffff;              // Sfondo bianco per le righe dei prodotti (era #f5f5f5 prima)
  --text-light: #000000;           // Testo principale nero
  --block-text-color: #3e3e3e;     // Titoli
  --text-muted: #a0a0b0;
}

// VARIABILI IN DARK MODE (Si attivano quando <html> o <body> hanno la classe .dark-mode)
.dark-mode {
  --bg-dark: #121212;              // Sfondo scuro della pagina
  --bg-navbar: #1a1a1a;            // Navbar ancora più scura
  --bg-card: #1e1e1e;              // Righe dei prodotti grigio scuro
  --text-light: #ffffff;           // Testo principale diventa bianco
  --block-text-color: #1bcf8c;     // I titoli principali diventano verdi o chiari
  --text-muted: #888899;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease; /* Transizione fluida quando si cambia tema */
}

h1 {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--block-text-color);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-light);
  transition: color 0.3s ease;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: opacity 0.2s, background-color 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

a {
  color: var(--text-light);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--primary-color);
  }
}