<div class="page-container">
    <img id="img-area-personale" 
         [src]="langService.getLingua() === 'en' 
                ? (themeService.getIsDarkMode() ? '/PersonalAreaDark.png' : '/PersonalAreaLight.png')
                : (themeService.getIsDarkMode() ? '/AreaPersonaleScura.png' : '/AreaPersonaleChiara.png')" 
         alt="Area Personale">
</div>


<div class="campi-container">
    
    <!-- Nome -->
    <div class="campo-row" [ngClass]="themeService.getIsDarkMode() ? 'text-white' : 'text-black'">
        <div class="campo-info">
            <span class="label" >{{langService.traduci('NOME')}}</span>
            @if (inModifica['nome']) {
                <input type="text" [(ngModel)]="utente.nome" class="input-modifica">
            } @else {
                <span class="valore">{{ utente.nome }}</span>
            }
        </div>
        @if (inModifica['nome']) {
            <button class="btn-salva" (click)="salvaModifica('nome')">Salva</button>
        } @else {
            <button class="btn-modifica" (click)="attivaModifica('nome')">{{langService.traduci('MODIFICA_BUTTON_PERSONAL')}}</button>
        }
    </div>

    <!-- Cognome -->
    <div class="campo-row" [ngClass]="themeService.getIsDarkMode() ? 'text-white' : 'text-black'">
        <div class="campo-info">
            <span class="label">{{langService.traduci('COGNOME')}}</span>
            @if (inModifica['cognome']) {
                <input type="text" [(ngModel)]="utente.cognome" class="input-modifica">
            } @else {
                <span class="valore">{{ utente.cognome }}</span>
            }
        </div>
        @if (inModifica['cognome']) {
            <button class="btn-salva" (click)="salvaModifica('cognome')">Salva</button>
        } @else {
            <button class="btn-modifica" (click)="attivaModifica('cognome')">{{langService.traduci('MODIFICA_BUTTON_PERSONAL')}}</button>
        }
    </div>

    <!-- Telefono -->
    <div class="campo-row" [ngClass]="themeService.getIsDarkMode() ? 'text-white' : 'text-black'">
        <div class="campo-info">
            <span class="label">{{langService.traduci('TELEFONO')}}</span>
            @if (inModifica['telefono']) {
                <input type="text" [(ngModel)]="utente.telefono" class="input-modifica">
            } @else {
                <span class="valore">{{ utente.telefono }}</span>
            }
        </div>
        @if (inModifica['telefono']) {
            <button class="btn-salva" (click)="salvaModifica('telefono')">Salva</button>
        } @else {
            <button class="btn-modifica" (click)="attivaModifica('telefono')">{{langService.traduci('MODIFICA_BUTTON_PERSONAL')}}</button>
        }
    </div>

    <!-- Indirizzo -->
    <div class="campo-row" [ngClass]="themeService.getIsDarkMode() ? 'text-white' : 'text-black'">
        <div class="campo-info">
            <span class="label">{{langService.traduci('INDIRIZZO')}}</span>
            @if (inModifica['indirizzo']) {
                <input type="text" [(ngModel)]="utente.indirizzo" class="input-modifica">
            } @else {
                <span class="valore">{{ utente.indirizzo }}</span>
            }
        </div>
        @if (inModifica['indirizzo']) {
            <button class="btn-salva" (click)="salvaModifica('indirizzo')">Salva</button>
        } @else {
            <button class="btn-modifica" (click)="attivaModifica('indirizzo')">{{langService.traduci('MODIFICA_BUTTON_PERSONAL')}}</button>
        }
    </div>

    <!-- Lingua Preferita (Vincolata a Italiano o Inglese) -->
    <div class="campo-row" [ngClass]="themeService.getIsDarkMode() ? 'text-white' : 'text-black'">
        <div class="campo-info">
            <span class="label">{{langService.traduci('LINGUA_PREFERITA')}}</span>
            @if (inModifica['languagePreference']) {
                <select [(ngModel)]="utente.languagePreference" class="select-modifica">
                    <option value="IT">{{langService.traduci('ITALIANO')}}</option>
                    <option value="EN">{{langService.traduci('INGLESE')}}</option>
                </select>
            } @else {
                <span class="valore">{{ utente.languagePreference === 'IT' ? 'Italiano' : 'Inglese' }}</span>
            }
        </div>
        @if (inModifica['languagePreference']) {
            <button class="btn-salva" (click)="salvaModifica('languagePreference')">Salva</button>
        } @else {
            <button class="btn-modifica" (click)="attivaModifica('languagePreference')">{{langService.traduci('MODIFICA_BUTTON_PERSONAL')}}</button>
        }
    </div>

    <!-- Tema Grafico (Vincolato a Chiaro o Scuro) -->
    <div class="campo-row" [ngClass]="themeService.getIsDarkMode() ? 'text-white' : 'text-black'">
        <div class="campo-info">
            <span class="label">{{langService.traduci('TEMAFOTO')}}</span>
            @if (inModifica['themePreference']) {
                <select [(ngModel)]="utente.themePreference" class="select-modifica">
                    <option value="LIGHT">{{langService.traduci('CHIARO')}}</option>
                    <option value="DARK">{{langService.traduci('SCURO')}}</option>
                </select>
            } @else {
                <span class="valore">{{ utente.themePreference === 'LIGHT' ? 'Chiaro' : 'Scuro' }}</span>
            }
        </div>
        @if (inModifica['themePreference']) {
            <button class="btn-salva" (click)="salvaModifica('themePreference')">Salva</button>
        } @else {
            <button class="btn-modifica" (click)="attivaModifica('themePreference')">{{langService.traduci('MODIFICA_BUTTON_PERSONAL')}}</button>
        }
    </div>

</div>
